.centered {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.container {
    text-align: center;
}
.services{
    position: relative;
        display: inline-block;
        text-align: center;
}
.services .servicesoverlay {
    position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%; 
        text-align: center;
        width: 60%;
        color: white;
}

.container-fluid {
    position: relative;
        display: inline-block;
        text-align: center;
}
.container-fluid .formoverimage {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; 
    width: 60%;
    color: white;
    }

    input {
        background-color: transparent;
    }

    footer {
text-align: center;
    }
    .col-md-4 {
        position: relative;
        width: 50%;
      }
      
      .design-image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      
      .col-md-4:hover .image {
        opacity: 0.3;
      }
      
      .col-md-4:hover .middle {
        opacity: 1;
      }
      
      .text {
        background-color: white;
        color: black;
        font-size: 16px;
        padding: 16px 32px;
      }